
body {
    font-family: Helvetica;
    background-color: #f7f7f7
}

nav {
    background-color: #2B2B2B;
    height: 100%;
    width: 100%;
}

div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

/* Styling for navigation section at top of page */

.website-title {
    color: #4D99D1;
    font-size: 2em;
    margin: 0;
    grid-template-columns: 2;
    grid-template-rows: 2;
    cursor:pointer;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.heading-button1 {
    grid-template-columns: 1 / 2;
    grid-template-rows: 2;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    color: seashell;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.heading-button2 {
    grid-template-columns: 2 / 3;
    grid-template-rows: 2;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    color: #535353;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.heading-button3 {
    grid-template-columns: 3 / 4;
    grid-template-rows: 2;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    color: #535353;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dropdown-menu {
    grid-template-columns: 6;
    grid-template-rows: 1;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    color: seashell;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Styling for card section at top of page */

.title {
    color: #535353;
    font-size: 2.5em;
    margin-left: .2em;
    margin-top: .3em;
  }
  
  ul {
    background-color: #f7f7f7;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    box-sizing: border-box;
    box-shadow: 0px 1px 4px #2B2B2B;
    height: 30em;
    display: flex;
    flex-direction: column;
    margin: .5em .2em;
    width: 24%;
  }
  
  .card header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 4em 1em 4em 1em;
    filter: brightness(70%);
  }

  .card aside {
    color: white;
  }

  .link{
    background-color: #efefef;
    color: #535353;
    padding: 1em 0em 1em .4em;
    word-wrap: break-word;
  }
  
  .card button {
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 5px 4px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
  }
  
  .card-body {
    box-sizing: border-box;
    border: 1px solid 818181;
    flex: 7;
    margin: 1em 0;
    width: 90%;
    margin: .5rem auto;
  }

  .attachment-number {
    font-size: 3em;
    color: #4286f4;
    margin: 0;
  }

  .view-counter {
    align-content: center;
  }
  .card1 {
    background: url(http://d29l8fj0bhi1tg.cloudfront.net/wp-content/uploads/2017/06/18082312/245082_full.jpg) no-repeat center/100%;
  }

  .card2 {
    background: url(http://movieneon.com/img/movies/characters/79/2063.png) no-repeat center/100%;
  }

  .card3 {
    background: url(https://www.sbs.com.au/movies/sites/sbs.com.au.film/files/styles/full/public/sharonstone_casino_2.jpg?itok=OHt4mcK-) no-repeat center/100%;
  }

  .card4 {
    background: url(https://unrealfacts.com/wp-content/uploads/2015/03/robert-de-niro-mevlana.jpg) no-repeat center/100%; 
  }

  .card5 {
    background: url(https://pmcvariety.files.wordpress.com/2015/01/martin-scorsese-silence.jpg?w=1000&h=563&crop=1) no-repeat center/100%;
  }

  .card6 {
    background: url(https://images-na.ssl-images-amazon.com/images/I/51u7Ehlx9vL.jpg)no-repeat center/ 100%;
  }

  .card7 {
    background: url(https://cdn1.thr.com/sites/default/files/imagecache/landscape_928x523/2017/09/sopranos22_season_6_2006-h_2017.jpg)no-repeat center/100%;
  }

  .card8 {
    background: url(https://grainandnoise.files.wordpress.com/2014/08/lester.jpg)no-repeat center/100%;
  }